*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    display: grid;
    place-items: center;
    height: 100vh;
}
body, input, button{
    font-family: 'DM Sans', sans-serif;
}
main{
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px .2rem .4rem 0px rgba(0, 0, 0, 0.10);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;

    width: min(42.8rem, 90%);
    margin-top: -20rem;
    text-align: center;
}
/* screen1 */
h1{
    font-family: 'Montserrat', sans-serif;
    color: #34355B;
    font-size: 2.4rem;
}
p{
    margin: 1.6rem 0 4.8rem;
    color: rgba(52, 53, 91, 0.80);

}
form{
    display: flex;
    justify-content: center;
}
input{
    width: 4.3rem;
}
button{
    border-radius: 0px 4px 4px 0px;
    background: var(--iris-80, #7879F1);
    color: white;  
    font-weight: 700;
    cursor: pointer;
}
input{
    border-radius: 4px 0px 0px 4px;
    background: #DCE2E9;
}
input, button{
    padding: 1.6rem;
    border: none;
    transition: all .5s ;
}
button:hover{
    background-color: #34355B;
    filter: drop-shadow(.2)
}
.hide{
    display: none;
}

/* sreen2 */
h2{
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.3rem;
}
.screen2 button{
    border-radius: .4rem;
}